---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102nme233pORRa8DqhPmOxQN&description=Charge%20for%20Joe%20Smith%3A%20joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_102nme233pORRa8DPW9QeM3l\",\n  \"object\": \"charge\",\n
        \ \"created\": 1382471089,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_102nme233pORRa8D7sBm2E7P\",\n    \"object\": \"card\",\n    \"last4\":
        \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 10,\n    \"exp_year\":
        2015,\n    \"fingerprint\": \"ZGYcRWNSyLuI5dWz\",\n    \"customer\": null,\n
        \   \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n
        \   \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"cvc_check\":
        null,\n    \"address_line1_check\": null,\n    \"address_zip_check\": null\n
        \ },\n  \"captured\": true,\n  \"refunds\": [],\n  \"balance_transaction\":
        \"txn_102nme233pORRa8DdKyYAhxR\",\n  \"failure_message\": null,\n  \"failure_code\":
        null,\n  \"amount_refunded\": 0,\n  \"customer\": null,\n  \"invoice\": null,\n
        \ \"description\": \"Charge for Joe Smith: joe@example.com\",\n  \"dispute\":
        null,\n  \"metadata\": {}\n}\n"
  recorded_at: Tue, 22 Oct 2013 19:44:49 GMT
recorded_with: VCR 2.6.0
