---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_102pH0233pORRa8DSHHwMKMI&plan=standard&email=joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1382814625,\n  \"id\":
        \"cus_2pH0idEksHualJ\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"joe@example.com\",\n  \"delinquent\": false,\n  \"metadata\":
        {},\n  \"subscription\": {\n    \"id\": \"su_102pH0233pORRa8DbNakCdRv\",\n
        \   \"plan\": {\n      \"interval\": \"month\",\n      \"name\": \"MyFlix
        Monthly\",\n      \"amount\": 999,\n      \"currency\": \"usd\",\n      \"id\":
        \"standard\",\n      \"object\": \"plan\",\n      \"livemode\": false,\n      \"interval_count\":
        1,\n      \"trial_period_days\": null\n    },\n    \"object\": \"subscription\",\n
        \   \"start\": 1382814625,\n    \"status\": \"active\",\n    \"customer\":
        \"cus_2pH0idEksHualJ\",\n    \"cancel_at_period_end\": false,\n    \"current_period_start\":
        1382814625,\n    \"current_period_end\": 1385493025,\n    \"ended_at\": null,\n
        \   \"trial_start\": null,\n    \"trial_end\": null,\n    \"canceled_at\":
        null,\n    \"quantity\": 1,\n    \"application_fee_percent\": null\n  },\n
        \ \"discount\": null,\n  \"account_balance\": 0,\n  \"cards\": {\n    \"object\":
        \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_2pH0idEksHualJ/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_102pH0233pORRa8Dg5QDIkDI\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 10,\n        \"exp_year\": 2015,\n        \"fingerprint\":
        \"ZGYcRWNSyLuI5dWz\",\n        \"customer\": \"cus_2pH0idEksHualJ\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        null,\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"card_102pH0233pORRa8Dg5QDIkDI\"\n}\n"
  recorded_at: Sat, 26 Oct 2013 19:10:26 GMT
recorded_with: VCR 2.6.0
