---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_102pH0233pORRa8DqaJYyZaC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_102pH0233pORRa8DqaJYyZaC\",\n  \"created\": 1382814625,\n
        \ \"livemode\": false,\n  \"type\": \"charge.succeeded\",\n  \"data\": {\n
        \   \"object\": {\n      \"id\": \"ch_102pH0233pORRa8D7egD9GD5\",\n      \"object\":
        \"charge\",\n      \"created\": 1382814625,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 999,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"card_102pH0233pORRa8Dg5QDIkDI\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 10,\n        \"exp_year\": 2015,\n        \"fingerprint\":
        \"ZGYcRWNSyLuI5dWz\",\n        \"customer\": \"cus_2pH0idEksHualJ\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        null,\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": true,\n      \"refunds\": [],\n      \"balance_transaction\":
        \"txn_102pH0233pORRa8D4cotqmdD\",\n      \"failure_message\": null,\n      \"failure_code\":
        null,\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2pH0idEksHualJ\",\n
        \     \"invoice\": \"in_102pH0233pORRa8DBkqXERQn\",\n      \"description\":
        null,\n      \"dispute\": null,\n      \"metadata\": {}\n    }\n  },\n  \"object\":
        \"event\",\n  \"pending_webhooks\": 0,\n  \"request\": \"iar_2pH0Q45yNB6kKD\"\n}\n"
  recorded_at: Sun, 27 Oct 2013 18:53:01 GMT
recorded_with: VCR 2.6.0
