---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102nnm233pORRa8DYSM6eEW0&description=Charge%20for%20Bob%20Smith%3A%20bob%40myflix.com
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_102nnm233pORRa8DXhQu5dvl\"\n  }\n}\n"
  recorded_at: Tue, 22 Oct 2013 20:54:35 GMT
recorded_with: VCR 2.6.0
