---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_102pGu233pORRa8DYm3x36KN&plan=standard&email=bob%40myflix.com
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\"\n  }\n}\n"
  recorded_at: Sat, 26 Oct 2013 19:04:54 GMT
recorded_with: VCR 2.6.0
