---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_102tnD233pORRa8DQ6NnJXXy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_102tnD233pORRa8DQ6NnJXXy\",\n  \"created\": 1383857051,\n
        \ \"livemode\": false,\n  \"type\": \"charge.failed\",\n  \"data\": {\n    \"object\":
        {\n      \"id\": \"ch_102tnD233pORRa8D6W7M1UmB\",\n      \"object\": \"charge\",\n
        \     \"created\": 1383857051,\n      \"livemode\": false,\n      \"paid\":
        false,\n      \"amount\": 999,\n      \"currency\": \"usd\",\n      \"refunded\":
        false,\n      \"card\": {\n        \"id\": \"card_102tnD233pORRa8DPFN1NqYJ\",\n
        \       \"object\": \"card\",\n        \"last4\": \"0341\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 11,\n        \"exp_year\": 2016,\n        \"fingerprint\":
        \"ZnNr1nMPuvSuM7G6\",\n        \"customer\": \"cus_2pjq3cVeEqk6KR\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": false,\n      \"refunds\": [],\n      \"balance_transaction\":
        null,\n      \"failure_message\": \"Your card was declined.\",\n      \"failure_code\":
        \"card_declined\",\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2pjq3cVeEqk6KR\",\n
        \     \"invoice\": null,\n      \"description\": \"failed charge\",\n      \"dispute\":
        null,\n      \"metadata\": {}\n    }\n  },\n  \"object\": \"event\",\n  \"pending_webhooks\":
        1,\n  \"request\": \"iar_2tnDzm41WoWyld\"\n}\n"
  recorded_at: Thu, 07 Nov 2013 21:37:57 GMT
recorded_with: VCR 2.7.0
