---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_102ozW233pORRa8DgWpB7Okc\",\n  \"livemode\": false,\n
        \ \"created\": 1382749624,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_102ozW233pORRa8DhQOQiWcX\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 3,\n    \"exp_year\": 2016,\n    \"fingerprint\": \"ZGYcRWNSyLuI5dWz\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Sat, 26 Oct 2013 01:07:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_102ozW233pORRa8DgWpB7Okc&plan=standard&email=ayla%40zemlak.net
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1382749625,\n  \"id\":
        \"cus_2ozWOlRTlhRtRQ\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"ayla@zemlak.net\",\n  \"delinquent\": false,\n  \"metadata\":
        {},\n  \"subscription\": {\n    \"id\": \"su_102ozW233pORRa8DGJLWdJm6\",\n
        \   \"plan\": {\n      \"interval\": \"month\",\n      \"name\": \"MyFlix
        Monthly\",\n      \"amount\": 999,\n      \"currency\": \"usd\",\n      \"id\":
        \"standard\",\n      \"object\": \"plan\",\n      \"livemode\": false,\n      \"interval_count\":
        1,\n      \"trial_period_days\": null\n    },\n    \"object\": \"subscription\",\n
        \   \"start\": 1382749625,\n    \"status\": \"active\",\n    \"customer\":
        \"cus_2ozWOlRTlhRtRQ\",\n    \"cancel_at_period_end\": false,\n    \"current_period_start\":
        1382749625,\n    \"current_period_end\": 1385428025,\n    \"ended_at\": null,\n
        \   \"trial_start\": null,\n    \"trial_end\": null,\n    \"canceled_at\":
        null,\n    \"quantity\": 1,\n    \"application_fee_percent\": null\n  },\n
        \ \"discount\": null,\n  \"account_balance\": 0,\n  \"cards\": {\n    \"object\":
        \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_2ozWOlRTlhRtRQ/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_102ozW233pORRa8DhQOQiWcX\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 3,\n        \"exp_year\": 2016,\n        \"fingerprint\":
        \"ZGYcRWNSyLuI5dWz\",\n        \"customer\": \"cus_2ozWOlRTlhRtRQ\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"card_102ozW233pORRa8DhQOQiWcX\"\n}\n"
  recorded_at: Sat, 26 Oct 2013 01:07:05 GMT
recorded_with: VCR 2.6.0
