!!! 5
%html(lang="en-US")
  %body
    %p= "Dear #{@user.full_name},"
    %p
    %p Your account with MyFLix has been locked because your credit card was declined.
    %p Please contact customer service to have your account reactivated.
    %p
    %p The MyFLix Team