---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_102x8m233pORRa8DYk93ORU2\",\n  \"livemode\": false,\n
        \ \"created\": 1384629148,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_102x8m233pORRa8D3ALYGavB\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 3,\n    \"exp_year\": 2016,\n    \"fingerprint\": \"ZGYcRWNSyLuI5dWz\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Sat, 16 Nov 2013 19:12:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_102x8m233pORRa8DYk93ORU2&plan=standard&email=aletha.reilly%40krisbashirian.com
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1384629150,\n  \"id\":
        \"cus_2x8mSwwMEy770p\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"aletha.reilly@krisbashirian.com\",\n  \"delinquent\": false,\n
        \ \"metadata\": {},\n  \"subscription\": {\n    \"id\": \"sub_2x8mhfQim66aqX\",\n
        \   \"plan\": {\n      \"interval\": \"month\",\n      \"name\": \"MyFlix
        Monthly\",\n      \"amount\": 999,\n      \"currency\": \"usd\",\n      \"id\":
        \"standard\",\n      \"object\": \"plan\",\n      \"livemode\": false,\n      \"interval_count\":
        1,\n      \"trial_period_days\": null,\n      \"metadata\": {}\n    },\n    \"object\":
        \"subscription\",\n    \"start\": 1384629150,\n    \"status\": \"active\",\n
        \   \"customer\": \"cus_2x8mSwwMEy770p\",\n    \"cancel_at_period_end\": false,\n
        \   \"current_period_start\": 1384629150,\n    \"current_period_end\": 1387221150,\n
        \   \"ended_at\": null,\n    \"trial_start\": null,\n    \"trial_end\": null,\n
        \   \"canceled_at\": null,\n    \"quantity\": 1,\n    \"application_fee_percent\":
        null\n  },\n  \"discount\": null,\n  \"account_balance\": 0,\n  \"cards\":
        {\n    \"object\": \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_2x8mSwwMEy770p/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_102x8m233pORRa8D3ALYGavB\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 3,\n        \"exp_year\": 2016,\n        \"fingerprint\":
        \"ZGYcRWNSyLuI5dWz\",\n        \"customer\": \"cus_2x8mSwwMEy770p\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"card_102x8m233pORRa8D3ALYGavB\"\n}\n"
  recorded_at: Sat, 16 Nov 2013 19:12:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_2x8mSwwMEy770p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_2x8mSwwMEy770p/subscription?at_period_end=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_LAyfGx2QiV9xY2pQVDGmDYXx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"sub_2x8mhfQim66aqX\",\n  \"plan\": {\n    \"interval\":
        \"month\",\n    \"name\": \"MyFlix Monthly\",\n    \"amount\": 999,\n    \"currency\":
        \"usd\",\n    \"id\": \"standard\",\n    \"object\": \"plan\",\n    \"livemode\":
        false,\n    \"interval_count\": 1,\n    \"trial_period_days\": null,\n    \"metadata\":
        {}\n  },\n  \"object\": \"subscription\",\n  \"start\": 1384629150,\n  \"status\":
        \"active\",\n  \"customer\": \"cus_2x8mSwwMEy770p\",\n  \"cancel_at_period_end\":
        true,\n  \"current_period_start\": 1384629150,\n  \"current_period_end\":
        1387221150,\n  \"ended_at\": null,\n  \"trial_start\": null,\n  \"trial_end\":
        null,\n  \"canceled_at\": 1384629152,\n  \"quantity\": 1,\n  \"application_fee_percent\":
        null\n}\n"
  recorded_at: Sat, 16 Nov 2013 19:12:37 GMT
recorded_with: VCR 2.7.0
